:root{
    --primary-color: #eacf3f;
    --secondary-color: #2255b1;
    --thirdary-color: #ec68a5;
}
@font-face {
    src: url('../font/DelaGothicOne-Regular.ttf');
    src: url('../font/DMSans-Regular.ttf');
    font-family: "DMSans";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    position: relative;
}

.container{
    width: 1268px;
    height: 713px;
    background: url("../img/background.png") no-repeat;
    background-size: contain;
    position: relative;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    height: 18%;
    align-items: center;
}

.logo{
    width: 12%;
    padding: 0 40px;
}

.nav{
    width: 63%;
}
    .nav-item{
        font-family: "DMSans";
        text-decoration: none;
        color: white;
        font-size: 18px;
        margin-right: 25px;
    }
    .nav-item:hover{
        color: var(--primary-color);
    }
    .nav-item--active{
        color: var(--primary-color);
    }

.sign-in-out{
    width: 25%;
    display: flex;
}  

.content{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 6%;
}
.title{
    color: white;
    font-family: "Dela Gothic One";
    font-size: 64px;
    margin-bottom: 15px;
}
.sub-content{
    display: flex;
}
.sub-content .title{
    color: var(--thirdary-color);
    font-size: 16px;
    margin: 15px 0;
}
.sub-content .btn{
    margin: 0;
}
.sub-content .desc{
    font-family: "DMSans";
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}
.left, .right{
    width: 50%;
    padding-right: 35px;
}

.btn{
    font-family: "Dela Gothic One";
    text-decoration: none;
    display: block;
    width: 150px;
    border: 2px solid;
    text-align: center;
    padding: 5px;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 20px;
}
    .btn--primary{
        color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
    .btn--primary.btn--hover{
        color: white;
        background-color: var(--secondary-color);
    }
    .btn--primary.btn--hover:hover{
        background-color: transparent;
        color: var(--secondary-color);
    }
    .btn--primary:hover{
        background-color: var(--secondary-color);
        color: white;
    }

    .btn--secondary{
        color: white;
        border-color: white;
    }
    .btn--secondary.btn--hover{
        background-color: white;
        color: var(--secondary-color);
    }
    .btn--secondary.btn--hover:hover{
        background-color: transparent;
        color: white;
    }
    .btn--secondary:hover{
        background-color: white;
        color: var(--secondary-color);
    }

.disable{
    display: none !important;
}

.form-container{
    width: 700px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    position: absolute;
    top: -500px;
    transform: translateY(-50%);
    animation: slide-in 0.5s ease-in-out forwards;
}
.form__left, .form__right{
    width: 50%;
    padding: 30px 0;
    display: flex;
    position: relative;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .form__title{
        font-family: "Dela Gothic One";
        font-size: 30px;
        color: var(--secondary-color);
        margin: 10px 0;
    }
    .form__row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }
        .form__label{
            font-family: "DMSans";
            font-size: 17px;
            font-weight: bold;
        }
        .form__input{
            width: 70%;
            font-size: 16px;
            padding: 5px;
            font-family: "DMSans";
        }
        .form__icon{
            color: var(--thirdary-color);
            margin: 0 5px 5px 0;
        }
        .form .btn{
            margin: 10px;
        }
    .form__close{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 18px;
        z-index: 2;
    }
    .form__close:hover{
        color: var(--thirdary-color);
    }

.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    animation: overlay-show 0.5s linear;
}
.btn-direct{
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url('../img/background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 10px;
    border-radius: 5px;
}
    .box .title{
        font-size: 30px;
        text-align: center;
    }
    .box .desc{
        font-family: "DMSans";
        color: white;
        text-align: center;
    }

@keyframes overlay-show {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.15;
    }
    50%{
        opacity: 0.25;
    }
    75%{
        opacity: 0.35;
    }
    100%{
        opacity: 0.5;
    }
}
@keyframes slide-in {
    0%{
        top: -500px;
    }
    100%{
        top: 50%;
    }
}